
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^naanissupermart\.in$ [OR]
RewriteCond %{HTTP_HOST} ^www\.naanissupermart\.in$
RewriteRule ^/?$ "https\:\/\/naanissupermart\.in\/" [R=301,L]

